body {
  margin: 0;
  text-align: center;
  /*with inline can be used text align not for block element*/
  font-family: "Merriweather", serif;
  background-color: #EAF6F6;
}

h1 {
  margin: 50px auto -10px auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  /* 16px=100%=1em */
  /* font size notes
  px : sets a fixed size (inherited)
  % : sets relative size and increases or decreases with scaling(inherited)
  em : sets size but doesn't increases or decreases with scaling (inherited)
  rem : most preferred... does't depend upon anything and keep the specified value (not inherited)
  */
  color: #347474;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #347474;
  font-weight: lighter;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

hr {
  background-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 10px;
  width: 8%;
  margin: 50px auto;
}

p {
  color: #40514E;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #96d1c7;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 20px;
  background-color: #EAF6F6;
}

.bottom-container {
  background-color: #96d1c7;
  padding: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  margin: auto;
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.business {
  border-radius: 30%;
  height: 10rem;
  width: 10rem;
  float: left;
  margin-right: 30px;
}

.coder {
  border-radius: 30%;
  height: 10rem;
  width: 10rem;
  float: right;
  margin-left: 30px;
}

a {
  color: #11999E;
}

.weight {
  font-weight: normal;
}

.skills {
  background-color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}

.trademark {
  color: #EAF6F6;
}

.contact-me {
  padding-bottom: 20px;
}

.btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color: #79bbff;
  -webkit-border-top-left-radius: 42px;
  -moz-border-radius-topleft: 42px;
  border-top-left-radius: 42px;
  -webkit-border-top-right-radius: 42px;
  -moz-border-radius-topright: 42px;
  border-top-right-radius: 42px;
  -webkit-border-bottom-right-radius: 42px;
  -moz-border-radius-bottomright: 42px;
  border-bottom-right-radius: 42px;
  -webkit-border-bottom-left-radius: 42px;
  -moz-border-radius-bottomleft: 42px;
  border-bottom-left-radius: 42px;
  text-indent: 0px;
  border: 2px solid #84bbf3;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  height: 56px;
  line-height: 56px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #528ecc;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
  background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color: #378de5;
}

.btn:active {
  position: relative;
  top: 1px;
}

</style>
/* This button was generated using CSSButtonGenerator.com */
